.about__author-image {
  width: 464px;
  height: 464px;
  border-radius: 50%;
  object-fit: cover;
}

.about {
  display: flex;
  padding: 80px 90px 80px 104px;
  background-color: #ffffff;
  /* flex-wrap: wrap; */
  /* margin-bottom: 61px; */
}

.about__content {
  max-width: 600px;
  width: 100%;
  padding-left: 56px;
  text-align: left;
  /* flex-grow: 1; */
  height: auto;
}

.about__header {
  /* height: 46px; */
  height: auto;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}

.about__description {
  /* height: 120px; */
  height: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* .about__paragraph-seperator {
  display: block;
  height: 24px;
} */

@media screen and (min-width: 769px) and (max-width: 900px) {
  .about__author-image {
    width: 25vw; /* Set width as a percentage of the viewport width */
    height: 25vw; /* Match height to width to maintain a circle */
    max-width: 232px; /* Optional: Limit the maximum size */
    max-height: 232px; /* Optional: Limit the maximum size */
    border-radius: 50%; /* Ensure the image remains circular */
    object-fit: cover;
  }

  .about {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 768px) {
  .about__author-image {
    max-width: 232px;
    max-height: 232px;
    /* width: 30vw;
    height: 30vh;
    border-radius: 50%;
    object-fit: cover; */
  }

  .about {
    padding: 40px 40px 62px 40px;
  }

  .about__header {
    font-size: 30px;
    margin: 0;
    line-height: 40px;
  }

  .about__content {
    padding-left: 32px;
  }
}

@media screen and (max-width: 480px) {
  .about__author-image {
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (max-width: 392px) {
  .about {
    flex-direction: column;
    padding: 32px 24px;
  }

  .about__author-image {
    max-width: 272px;
    max-height: 272px;
  }

  .about__content {
    padding-left: 0px;
  }

  .about__header {
    padding-top: 24px;
  }
}
