.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 104px;
  position: relative;
}

.nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0.3px;
  background-color: white;
  left: 0;
}

.nav__logo {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: white;
}

.nav__links {
  padding: 0px;
  column-gap: 42px;
  display: flex;
  column-gap: 42px;
  align-items: center;
}

.nav__link_home {
  border: none;
  background: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  position: relative;
}

.nav__link_home::after {
  content: "";
  position: absolute;
  bottom: -28px; /* Adjust to overlap .nav::after */
  left: 0;
  width: 150%;
  height: 3px; /* Thickness of the line */
  background-color: white; /* Color of the line */
  z-index: 2; /* Ensure it appears above .nav::after */
  left: 50%;
  transform: translateX(-50%);
}

.nav__link_signin-btn {
  background: none;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  width: 176px;
  height: 48px;
  border-radius: 100px;
  border: 1px solid white;
  cursor: pointer;
}

.nav__menu-btn {
  height: 24px;
  width: 24px;
  display: none;
  background-color: transparent;
  background-image: url(../../assets/mobile-menu-not-logged-in.png);
  border: none;
}

/* Styles for /saved-news */
.nav__menu-btn-saved-news {
  background-image: url(../../assets/mobile-menu-loggedin.svg);
  display: none;
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.nav_saved-news::after {
  background-color: #d1d2d6;
}

.nav__logo_saved-news {
  color: black;
}

.nav__link_home-saved-news {
  color: black;
}

.nav__link_home-saved-news::after {
  display: none;
}

.nav__links_loggedin {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.nav__link_saved-articles {
  color: black;
  text-decoration: none;
  height: 24px;
  width: 114px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  position: relative;
}

.nav__link_saved-articles::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 125%;
  height: 3px;
  background-color: #1a1b22;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.nav__link_saved-articles_home {
  color: white;
}

.nav__link_saved-articles_home::after {
  display: none;
}

.nav__link_logout-btn {
  color: black;
  background: none;
  border: 1px solid #d1d2d6;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  border-radius: 100px;
  width: 112px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav__link_logout-btn_home {
  color: white;
  border: 1px solid white;
}

.nav__logout-icon {
  height: 16px;
  width: 16px;
  margin-left: 13px;
}

@media screen and (max-width: 768px) {
  .nav__link_signin-btn {
    width: 152px;
    height: 40px;
  }

  .nav__link_logout-btn {
    width: auto;
  }
}

@media screen and (max-width: 600px) {
  .nav__link_logout-btn,
  .nav__link_logout-btn_home {
    display: none;
  }

  .nav__menu-btn {
    display: block;
    cursor: pointer;
  }

  .nav__links {
    display: none;
  }

  .nav {
    padding: 0 50px;
  }

  .nav__menu-btn-saved-news {
    display: block;
    cursor: pointer;
  }
}

@media screen and (max-width: 320px) {
  .nav__links {
    display: none;
  }

  .nav__menu-btn {
    display: block;
    cursor: pointer;
  }

  .nav__logo {
    height: 24px;
    font-size: 16px;
  }

  .nav {
    padding: 0px 16px;
    justify-content: space-between;
  }
}
