.search-form {
  max-width: 608px;
  height: 64px;
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 100px;
  background-color: white;
  position: relative;
}

.search-form__input {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
}

.search-form__input::placeholder {
  padding-left: 24px;
}

.search-form__button {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  position: absolute;
  border-radius: 100px;
  right: 0;
  background-color: #2f71e5;
  height: 64px;
  width: 168px;
  border: none;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 320px) {
  .search-form {
    flex-direction: column;
    height: auto;
    background: none;
    margin-bottom: 32px;
  }

  .search-form__input {
    height: 56px;
    width: calc(100% - 32px);
    padding: 0;
    margin: 0 auto 16px;
  }

  .search-form__button {
    position: static;
    height: 56px;
    width: calc(100% - 32px);
    padding: 0px;
    margin: 0 auto;
  }
}
