@import url("./vendor/fonts/fonts.css");
@import url("./vendor/normalize.css");

#root {
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  font-family: "Roboto Slab", serif;
}
